@import '../../../node_modules/rickshaw/rickshaw.css';

.dashboard {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
}

.dashboard .row {
  display: flex;
  flex-direction: row;
}

.dashboard .row .column {
  /*border: 1px solid black;*/
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.rickshaw_graph .detail .x_label {
  background: rgba(0, 0, 0, 0);
}
