.dashboard {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
}

.dashboard .row {
  display: flex;
  flex-direction: row;
}

.dashboard .row .column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: blue;
  align-items: center;
  flex: 1;
}
